numpy==2.2.6
jax==0.5.3
jaxlib==0.5.3
flax==0.10.2
orbax-checkpoint==0.11.13
ml-dtypes==0.4.1
tensorstore==0.1.74
chex==0.1.90
optax==0.2.4
jaxtyping==0.2.36
beartype==0.19.0
augmax==0.3.4
einops==0.8.1
ml-collections==1.0.0
numpydantic==1.6.11
sentencepiece==0.2.0
transformers==5.4.0
torch==2.7.1
torchvision==0.22.1
wandb==0.24.2
tqdm-loggable==0.2
fsspec[gcs]==2025.9.0
opencv-python-headless==4.11.0.86
pillow==12.3.0
lerobot[dataset] @ https://github.com/huggingface/lerobot/archive/7e241bd630a3719a56157a497ce5d08f244784f1.tar.gz
av==15.1.0
msgpack==1.1.1
websockets==15.0.1
pytest==8.4.2
black==26.5.1
pylint==4.0.8
tyro==0.9.35
